# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
build
dist

# Environment variables & secrets (NEVER commit to GitHub)
.env*.local
.env
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary & Large Media
screen.png
*.mp4
*.webm
*.log
scratch/

# OS Files
.DS_Store
*.pem
Thumbs.db
